
.menu__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 2;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-right: 6rem;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.item{
 
    font-size: 1.2rem;
    border: none;
    list-style: none;
   
    
}

.item a{
    text-decoration: none;
    color:rgb(105, 103, 103);
    letter-spacing: 1px;
    margin-left: 2rem;  
    
}

.item a:hover{
    transition: 0.4s;
    border: none;
    color:rgb(93, 67, 20);
}




.logo2{
    width: 11rem;
    margin-top: 5px;
    padding: 6px;
    margin-left: 6rem;
    z-index: 2;
}

