.home__section__one{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bannerteste.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 30%;
    filter:contrast(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    animation: myAnim_banner 5s ease-in-out 0.1s 1 normal forwards;

}

@keyframes myAnim_banner {
	0% {
		background-position: right center;
		background-size: 100%;
	}

	100% {
		background-position: right center;
		background-size: 120%;
	}

}


.banner_home{
    width: 100%;
}


.menu__banner a{
    font-size: 1.5rem;
    letter-spacing: 8px;
    color:rgb(36, 36, 35);
    text-decoration: none;  
    cursor: pointer;
}

.logo__banner{
    border-radius: 60px;
    width: 17rem;
    height: 17rem;
    border-radius: 120px;
    position: absolute;
    top:8rem;
    animation: myAnim_logobanner 5s ease 0s 1 normal forwards;
}

@keyframes myAnim_logobanner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

Button{
	position: absolute;
	top:28rem;
	left: 44rem;
}

.animation__txt__home{
    animation: animate__slideInDown;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}