.testimonials__container{
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 43, 43);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.testimonials__container h1{
    color: white;
    font-size: 2.7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 3rem;
}


.card__container{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
}

@media screen and (max-width: 768px){
    .testimonials__container{
       
    }
    
    .testimonials__container h1{
      font-size: 1.4rem;
    }
    
    
    .card__container{
    margin-bottom: 6rem;
    }

}
