.aboutsecone__container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(241, 239, 239, 0.837);
}

@media screen and  (max-width:768px){
.aboutsecone__container{
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
}