.desc__two__container{
    height: 75vh;
}

.description__hostel__two__container{
    background-color: rgba(227, 216, 216, 0.648);
    width: 75rem;
    height: 33rem;
    border-radius: 10px;
    position: absolute;
    right: 10rem;
    top:60rem;
}

.img__apoio__about__description {
    width: 24rem;
    border-radius: 30px ;
    position: absolute;
    left: 2rem;
    top:-3rem;
}