.description__hostel__container{
    background-color: rgba(79, 66, 22, 0.727);
    width: 35rem;
    height: 33rem;
    border-radius: 10px;
    position: absolute;
    right: 10rem;
    top:44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: myAnim 2.5s ease-in 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.description__hostel__container p{
    color: white;
    letter-spacing: 2px;
    line-height: 36px;
    font-size: 19px;
    margin: 2rem;
    text-align: center;
}