.mobile__btn{
    width: 6rem;
    margin: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top:-0.5rem;
}


.logo_menu_mobile{
    width: 3.3rem;
}