.mobile_menu{
    background-color: rgba(132, 125, 21, 0.85);
    display: flex;
    flex-direction: column;
    margin-top: 1.54rem;
    border-radius: 20px;
    z-index: 2;

}

.list_mobile{
    width: 80%;
    background-color: rgb(0, 0, 211);
}

.item_mobile{
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}

.item_mobile a{
    text-decoration: none;
    list-style: none;
    color:white;
    letter-spacing: 2px;
}

.item_mobile a:hover{
    color:rgb(43, 17, 6);
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 600px) {
   
   }