.trindadebanner__container{
    width: 100%;
    height: 70vh;
    background-color: white;
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res70/262000/262559-Ilha-Grande-Bay.jpg');
    animation: myAnim_bannerabout 3s ease-in-out 0s 1 normal forwards;
    background-position-x: 60%;
	display: flex;
	justify-content: center;
	align-items: center;

}

@keyframes myAnim_bannerabout {
	0% {
		background-position: right center;
		background-size: 100%;
	}

	100% {
		background-position: right center;
		background-size: 120%;
	}

}

.trindadebanner__container h1{
    color:white;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 15px;
    text-transform: uppercase;
	text-align: center;
    text-decoration: line-through;
    animation: myAnim_about 1s ease 0s 1 normal forwards;
}

@keyframes myAnim_about {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.trindadebanner__container h1 span{
    font-size: 6rem;
    text-transform: lowercase;
}