.trindade_history__container{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.history__container{
    background-color: rgba(146, 126, 13, 0.808);
    width: 60vw;
    height: 40vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    margin-left: 0rem;
    padding:1rem;
    

}

.trindade__container_um{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history__container h2{
    width: 100%;
    font-size: 2rem;
    color:rgb(251, 251, 251);
    text-transform: lowercase;
    letter-spacing: 2px;
}

.history__container p{
    width: 150%;
    height: 100%;
    padding:0.2rem;
    font-size: 0.9rem;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 1.6rem;
    font-weight: 400;
    border: 1px solid rgb(239, 234, 234);
    border-radius: 15px;
    text-align: center;
}


.curiosity__container{
    background-color: rgba(105, 104, 100, 0.808);
    width: 60vw;
    height: 40vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 1rem;
    padding:1rem;
}

.curiosity__container h2{
    margin-bottom: 3rem;
    color: white;
    font-size: 3rem;
    border: 1px solid white;
    border-radius: 15px;
    width: 40%;
}

.curiosity__container p{
    width: 100%;
    font-size: 1rem;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 1.6rem;
    font-weight: 400;
}