.contact__container{
    width: 100%;
    height: 100%;
    background-color: rgba(217, 213, 207, 0.692);
    animation: myAnim_logobanner 3s ease 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}

@keyframes myAnim_logobanner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (min-width:320px) and (max-width:560px){
    .contact__container{
        width: 100%;
        height: 200vh;
        background-color: rgba(217, 213, 207, 0.692);
        animation: myAnim_logobanner_mob 3s ease 0s 1 normal forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        
}
}
