button{
    width: 130px;
    height: 40px;
    padding: 0.3rem;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: myAnim_logobanner 5s ease 0s 1 normal forwards;
}

@keyframes myAnim_logobanner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



.btn_menu button:hover{
    cursor: pointer;
    background-color: rgb(138, 131, 4);
    text-decoration: none;
}

.btn_menu button a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.btn_menu button a:hover{
    cursor: pointer;
    text-decoration: none;
}

