button{
    width: 120px;
    height: 40px;
    padding: 0.3rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    animation: myAnim_logobanner 5s ease 0s 1 normal forwards;
}

@keyframes myAnim_logobanner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


Button a{
    text-decoration: none;
    list-style: none;
}

.btn_menu button:hover{
    cursor: pointer;
    background-color: rgb(58, 55, 10);
    text-decoration: none;
    border:none;
}

.btn_menu button a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    border:none;
}

.btn_menu button a:hover{
    cursor: pointer;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 600px){
    .btn_menu button{
        display: none;
        list-style:none;
        text-decoration: none;
        border: none;
    }
}
